input {
  border-radius: 4px;
  max-width: 272px;
  height: auto;
  padding: 8px 16px;
  margin-bottom: 32px;
}
[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 75px;
}
#datetime-picker:disabled {
  background: #cfcfcf;
  color: #808080;
}
[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.field {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.value {
  font-size: 40px;
  line-height: 1.2;
}
